*{
  padding: 0px;
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
  width: 50px;
}
body{
  background-image: url('/resources/images/protruding-squares.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  height: 15vh;
  background-color: rgba(240, 240, 242, 0.724);
  box-shadow: 0 0 10px rgba(0, 0, 0.2);
}
.heading{
  display: flex;
  align-items: center;
  gap: 10px;
}
ul{
  display: flex;
  align-items: center;
  gap: 12px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  font-size: 20px;
}
a:hover{
  text-decoration: underline;
  transition: 1s;
  color: rgb(25, 172, 147);
}
main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 77vh;
}
.description{
  max-width: 500px;
  font-size: 20px;
  margin-top: 15px;
}
.image{
  width: 400px;
}
.btn{
  background-color: rgba(19, 94, 92, 0.653);
  margin-top: 20px;
  padding: 5px 20px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
}
.btn:hover{
  background-color: rgb(24, 147, 168);
  transition: 1s;
}
footer{
  text-align: center;
  font-size: 20px;
}